.mag {
  width: 150px;
  height: auto;
  border: 2px solid #333;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
#message {
  line-height: 100px;
  text-align: center;
  width: 300px;
  height: 300px;
  border: 2px solid black;
  margin: auto;
  background-color: #8e68ff;
  font-size: 150%;
  padding: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}
